body{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    font-family: "Gill Sans", sans-serif;
}

#content{
    max-width: 960px;
    display: flex;
    flex-direction: column;
}

#main_img{
    height: 500px;
    display: flex;
    justify-content: center;
}

#legitimate_img{
    height: 500px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#main_img img{
    height: 100%;
}

#main_text h1{
    font-size: 36px;
    margin-left: 10px;
}

#main_text a{
    font-size: 22px;
    margin-left: 10px;
}

#main_text #text{
    margin-left: 50px;
}

#main_text p{
    font-size: 22px;
}

#main_text h3{
    font-size: 22px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#main_text li{
    font-size: 22px;
    margin-bottom: 10px;
}

#download_button a{
    color: #ffffff;
    background-color: #00c65e;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 15px;
    text-decoration: none;
    cursor: pointer;
}

#main_text #download_button{
    height:100px;
    display: flex;
    align-items: center;
}

.discord_violet{
    color: #5662f6;
}

.telegram_blue{
    color: #259cd8;
}

.underline{
    text-decoration:underline;
    cursor: default;
    color: black;
}

#buttons{
    margin-left: 40px;
    margin-bottom: 40px;
    margin-top: 50px;
    display: flex;
    flex-wrap: nowrap;
}

#buttons div{
    display: flex;
    align-items: center;
}

#buttons img{
    width: 40px;
    height: auto;
    margin-right: 30px;
}

@media(min-width: 960px){

}

@media(min-width: 320px){
    #content{
        width: 100%;
    }

    #buttons{
        margin-left: 1%;
    }

    #main_img{
        width: 100%;
        height: auto;
    }

    #main_img img{
        width: 100%;
    }

    #legitimate_img{
        width: 100%;
        height: auto;
    }

    #legitimate_img img{
        width: 100%;
    }

    #main_text #text{
        margin-left: 5%;
    }
}